body {
  background-color: aliceblue;
  color: darkslategrey;
  font-family: "Ephesis", cursive;
  text-align: center;
  margin-right: 550px;
  margin-left: 550px;
}
.Main-Header {
  color: darkslateblue;
}
.Post {
  background-color: #c7d2fe;
  border: 20px;
}
.PIC {
  height: 200px;
}
