body {
  background-color: aliceblue;
  color: darkslategrey;
  font-size: 25px;
}
.Main-Header {
  color: darkslateblue;
}
.First-Post {
  background-color: #c7d2fe;
  border: 20px;
}
.First-PIC {
}
.Second-Post {
  background-color: #c7d2fe;
  border: 20px;
}
.Second-PIC {
  height: 200px;
}
.Third-Post {
  background-color: #c7d2fe;
  border: 20px;
}
.Third-PIC {
}
